:root {
  --base: "SUIT Variable", sans-serif;
}

body {
  font-family: var(--base);
}

.avatars {
  /* 변수 선언 */
  --size: 64px;

  box-sizing: border-box;
  margin: 0;
  position: relative;
  inline-size: var(--size);
  block-size: var(--size);

  img {
    /* 변수 선언 */
    inline-size: inherit;
    block-size: inherit;
    border-radius: 50%;
  }

  figcaption {
    /* 변수 갱신 */
    --size: 18px;

    inline-size: var(--size);
    block-size: var(--size);
    background-color: gray;

    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 2px solid #fff;
    box-sizing: inherit;
  }

  &.is-online {
    figcaption {
      background-color: lime;
    }
  }
}

/* member layout */
.member {
  --avatar-size: 64px;
  --avatar-count: 4;
  --avatar-spacing: 10px;
  --container-size: calc(
    (var(--avatar-size) * var(--avatar-count)) +
      (var(--avatar-spacing) * (var(--avatar-count) * 2))
  );

  inline-size: var(--container-size);
  margin: 0 auto;
  border: 1px solid red;
  /* inline-size: ; */

  ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    display: flow-root;
  }

  li {
    margin: 10px;
    float: left;
  }
}

@supports (display: flex) {
  .member {
    ul {
      display: flex;
      /* 부모 컨테이너 크기를 줄여놨기 때문에, overflow가 일어남. */
      /* 이를 방지하기 위해 wrap 사용 */
      flex-flow: row wrap;
    }

    li {
      float: none;
    }

    li:nth-child(-n + 4) {
      order: 1;
    }
  }
}
